<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"/>
  	<title>  nombre_fichas   Vademano 2015</title>
  
  	
  </head>
  <body>
 <img src=" base_urlview/DevuelveImagenphp?id_valor=$id_fichas&id_nombre=id_fichas&tabla=fichas_fotos&campo=foto_fichas_fotos" width="180" height="200" />
<img src=" base_urlview/DevuelveImagenphp?id_valor=$id_distribuidores&id_nombre=id_distribuidores&tabla=distribuidores&campo=logo_distribuidores" width="120" height="80" />
 <img src=" base_urlview/DevuelveImagenphp?id_valor=$id_especies&id_nombre=id_especies&tabla=especies&campo=logo_especies"  width="40" height="40" />
	
  <div style="font-family: sans-serif color:#31B046 whidth: 100% text-align: center ">
  	 <h2> <strong> nombre_fichas     </strong></h2> 
  	
  </div>
  

  
  <div style=" position: absolute;  margin-left: 0% ; width:49%">
  	    
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> CATEGORÍA FARMACOLÓGICA: </strong>
  		</div>
        <div style="color:#010a01 font-family: sans-serif font-size:55% width:100% text-align: center">
  		<p> $clasificacion_farmacologica_fichas</p>
  		</div>
  		
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> FORMA FARMACÉUTICA: </strong>
  		</div>
        <div style="color:#010a01 font-family: sans-serif font-size:55% width:100% text-align: center">
  		<p> $forma_terapeutica_fichas</p>
  		</div>
       
         
  	     <div style="text-align: center width:100%" >
    
  		tabla_especies1
  	    </div>
        
   
  
  		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> COMPOSICIÓN: </strong>
  			
  		</div>
          
		   <div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
  			<p>encabezado_tabla_fichas</p>	
  			</div>
					
			<div style="color:#010a01; font-family: sans-serif; font-size:55% ; width:100%">
  			<table border="1" style="width:100%" >
  			<tr ><th></th><th></th></tr>
  			<tr style="text-align: center">
  			<td></td><td></td>
  			</tr>
  			</table>

  		</div>
             
		 
         <div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> CARACTERISTICAS:  </strong>
  		</div>
  		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
  			<p> $accion_terapeutica_fichas</p>
  		</div>
  				
		
	   
        <div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> MECANISMOS DE ACCIÓN:  </strong>
  		</div>
  		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
  			<p> $mecanismo_accion_fichas</p>
  		</div>
  		
  		
        <div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> INDICACIONES DE USO:   </strong>
  		</div>
  		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
  			<p> $indicaciones_uso_fichas</p>
  		</div>
  		
		
		
  		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  			<strong> DOSIFICACIÓN DE   </strong>
			<strong>$nombre_fichas </strong>
  		</div>
  		
		<div style="color:#010a01; font-family: sans-serif font-size:55%; width:100%;">
  				$encabezado_dosificacion_fichas 	
  		</div>
  		
		
  		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  		<strong> PERIODO DE RETIRO:   </strong>
  		</div>
  		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
  		<p> $periodo_retiro_fichas</p>
  		</div>
  		
		
		
  		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
  		<strong> ADVERTENCIAS: </strong>
  		</div>
  		<div style="margin-top:10px color:#010a01 font-family: sans-serif font-size:55% width:100%">
  		<p>$advertencias_fichas </p>
  		</div>
  		
		
  		<div style="background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
			<strong> VÍA DE ADMINISTRACIÓN: </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<table border=1 style=width:100%  ><tr style="text-align: center"><td></td></tr></table>
		
		</div>
		
		
  	</div>
  	
	  	
	
	<div style="position: absolute  margin-left: 50% width:49%">
          <div style="text-align: center width:100%" >
          logo_fichas_fotos 
    	</div>
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> INTERACCIONES:   </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p> interacciones_fichas</p>
		</div>
       
		
       
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> CONTRAINDICACIONES:   </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p> contraindicaciones_fichas</p>
		</div>
        
		
        
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> EFECTOS COLATERALES:   </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p> efectos_colaterales_fichas</p>
		</div>
	
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> CONSERVACIÓN:   </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p> $conservacion_fichas</p>
		</div>
	
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> PRESENTACIONES:   </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p> presentacion_fichas</p>
		</div>
		
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
			<strong> REGISTRO AGROCALIDAD: </strong>
		</div>
		<div style="margin-top:10px color:#010a01 font-family: sans-serif font-size:55% width:100%">
			<p>	registro_sanitario_fichas </p>
		</div>
		
		
       
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> FABRICADO POR: </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p>logo_laboratorios </p>
		</div>
        
		
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> DISTRIBUIDO POR: </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		<p>logo_distribuidores </p>
		</div>
		
		<div style="margin-top:10px background-color:#999E9A color:#FFFFFF font-family: sans-serif font-size:75% width:100%">
		<strong> DECLARACIÓN LEGAL: </strong>
		</div>
		<div style="color:#010a01 font-family: sans-serif font-size:55% width:100%">
		El contenido de este sitio es sólo para motivos informativos y de ninguna manera se debe utilizar sin consultar a un médico veterinario Toda la información es proporcionada por el fabricante y / o distribuidor del producto por lo tanto Vademano no asume responsabilidad por errores u omisiones en los contenidos que se publican aquí
		</div>
		
	</div>
		
		
	
	<div style="background-color:#000000  position: fixed bottom: 0 width: 100% color:#ffffff font-family: sans-serif font-size:55% text-align: center ">
	Copyright © Vademano 2015
	</div>

  </body>
  </html>
    