<html>
 <head>
 <meta charset="utf-8"/>
 </head>
 <body> <table width="100%"><tr>
		<td style="font-size: 10px; padding: 5px;" align="right">{PAGENO}</td>
        </tr><tr>
		<td style="font-size: 10px; padding: 5px;" align="center">
		<strong> DECLARACIÓN LEGAL: </strong>
		<br>
		El contenido de este sitio es sólo para motivos informativos y de ninguna manera
		se debe utilizar sin consultar a un médico veterinario Toda la información es 
		proporcionada por el fabricante y / o distribuidor del producto por lo tanto Vademano
		no asume responsabilidad por errores u omisiones en los contenidos que se publican aquí.
		<br>
		<b>Copyright © Vademano 2015</b>
		</td>
 </tr></table>
 </body>
 </html>